<script>
    import Sample from './sample.svelte';
</script>

![abc](./img%20with%20space.png)
<!-- reference links -->

<Sample path='../images/img.png?format=webp' test="./abc" />

![img]

[img]: ./img.png

<Sample path='../images/img.png' test="./abc" />

![test](../images/img.png)


<Sample path  = "  ./img.png  " />

![test]($lib/images/img.png)

<Sample path  = ' $lib/images/img.png  ' />
